/*@import url('https://fonts.cdnfonts.com/css/lucida-handwriting-std');*/

body {
    background-color: #000;
    /*overflow: hidden;*/
}

.footer {
    color: #fff;
    text-align: center;
    white-space: nowrap;
    margin: 40px 10px 0;
    display: inline-flex;
}

.footer a {
    color: #fff;
}

.description {
    color: #fff;
    min-width: 400px;
    font-size: 25px;
    margin: 15px 10px;
    text-align: justify;
    text-shadow: 1px 1px #000;
}

.content{
    color: rgb(164,255,0);
}
.contentWrapper {
    background-color: #000;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.contentLeft {
    background-color: #000;
    margin-top: -16vh;
    font-size: 92vh;
    /*margin-right: 2%;  !* use for alignment *!*/
}

.contentRight {
    background-color: #000;
    margin-top: -16vh;
    font-size: 92vh;
}

.hidden {
    display: none;
}

.buttonStyle {
    margin: 10px;
    font-size: 25px;
    font-weight: 700;
    padding: 5px;
}

#align {
    margin: 10px;
    font-size: 65px;
    display: none;
}

.wrapperAll {
}

.controlWrapper {
    max-width: 200px;
    position: absolute;
    padding: 20px;
    z-index: 1000;
}

#ta {
    margin: 10px;
    font-size: 30px;
}

.hiddenText {
    color: transparent;
    text-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

.toggleWrapper {
    margin: 10px;
}

input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    padding: 10px;
    filter: invert(270%) hue-rotate(70deg) brightness(1.7);
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext {
    /* Checkbox text */
    font-size: 110%;
    display: inline;
}

.vrToggleLabel{
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    padding-left: 5px;
}

.uppercase {
    text-transform: uppercase !important;
}

.firstFont{
    font-family: serif;
}

.secondFont{
    font-family: sans-serif;
}

.thirdFont{
    font-family: monospace;
}

.fourthFont{
    font-family: 'Lucida Handwriting Std', cursive;
}

.fifthFont{
    font-family: 'Hurricane', cursive;
}

.charsetLabel, .taLabel, .fontSelectorLabel  {
    color: #fff;
    font-size: 25px;
    margin-left: 10px;
}

.charsetArea {
    width: 520px;
    padding: 10px;
}

.randomWrapper {
    width: 540px;
    border: 1px solid white;
    margin: 10px;
}

#randomWordsNumber {
    max-width: 45px;
}

.overflowHidden {
    overflow: hidden !important;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

#playButton {
    background: rgb(164,255,0);
    font-size: 40px;
    width: 300px !important;
    padding: 20px;
}

.playImage {
    width: 30px;
}
