body {
    background-color: #000;
    overflow: hidden;
}

.footer {
    color: #fff;
    text-align: center;
}

.footer a {
    color: #fff;
}

.contentwrapper {
    background-color: #000;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.contentLeft {
    background-color: #000;
    margin-top: -16vh;
    font-size: 92vh;
    /*margin-right: 2%;  !* use for alignment *!*/
    /*font-family: 'Hurricane', cursive; !* margin and font size will have to change *!*/
}

.contentRight {
    background-color: #000;
    margin-top: -16vh;
    font-size: 92vh;
    /*font-family: 'Hurricane', cursive;*/
    display: none;
}

#flasher {
    margin: 10px;
    font-size: 25px;
}

#align {
    margin: 10px;
    font-size: 65px;
    display: none;
}

.wrapperAll {
}

.controlWrapper {
    max-width: 200px;
    position: absolute;
    padding: 20px;
    z-index: 1000;
}

#ta {
    margin: 10px;
    font-size: 30px;
}
